#IGNORE SUPPLY DATA FILES
# Ignore all files in ProcessedData and WebData
Supply/WebData/*.csv
Supply/InputData/*.gag
Supply/ProcessedData/*.csv
Supply/ProcessedData/*.dat
Supply/ProcessedData/*.txt
Supply/ProcessedData/*.xlsx

#IGNORE DEMAND DATA FILES 
# Ignore all CSVs and xlsx files in IntermediateData, RawData and ProcessedData folders
Demand/RawData/*.csv
Demand/RawData/*.sqlite
Demand/IntermediateData/*.csv
Demand/IntermediateData/*.xlsx
Demand/IntermediateData/*.ini
Demand/ModuleAndScriptComparisons/*.csv
Demand/ModuleAndScriptComparisons/*.xlsx
Demand/OutputData/*.csv
Demand/OutputData/*.xlsx
Demand/OutputData/*.geoJSON
Demand/OutputData/*.gpkg
Demand/OutputData/*.docx
Demand/OutputData/*.html

#IGNORE PARADIGM_DWRAT FILES
Paradigm_DWRAT/dwrat/output/*.csv
Paradigm_DWRAT/dwrat/output/*.log

#IGNORE LSPC FILES
LSPC/*.log
LSPC/**/*.csv
LSPC/**/*.out

#Ignore Various R files
.Rproj.user
Supply/.Rproj.user
Demand/.Rproj.user
.Rhistory
Supply/.Rhistory
Demand/.Rhistory